<form>
    <div class="label">Geben Sie Ihre Zahlungsweise an:</div>
      <input type="radio" id="mc" name="Zahlmethode" value="Mastercard" tabindex="0">
      <label for="mc"> Mastercard</label> <br>
      <input type="radio" id="vi" name="Zahlmethode" value="Visa" tabindex="0">
      <label for="vi"> Visa</label> <br>
      <input type="radio" id="ae" name="Zahlmethode" value="AmericanExpress" tabindex="0">
      <label for="ae"> American Express</label> 
  </form>