<h1>Willkommen zum Workshop A11Y<fa-icon [icon]="faBraille" class="margin-left" alt="Logo"></fa-icon></h1>

<dl>
  <dt>A11Y ==</dt>
  <dd>Accessibility, wegen der 11 Buchstaben</dd>
</dl>

<h2>Insgesamt gibt es 6 Fehler</h2>
<p>Wie bereits vorher schon erwähnt gibt es nach der w3c eine Responsibility Matrix, in der auch die Architekten mit 9 Kriterien genannt werden. Nein, bitte immer noch nicht google fragen. Einige der einfachen Kriterien wie Kontraste habe ich bewusst rausgelassen. Viel zu einfach. Tastatursteuerung mag auch nciht komplett sein, aber das ist eher meiner Amateurprogrammierung geschuldet. Sry. Ich bin sehr viel fitter in den WCAG Kriterien, aber bei den entsprechenden Umsetzungen diskutiere ich sehr gerne mti Architekten und Entwicklern, um eine Perfektion zu erreichen.
</p>

<h4>Kanban</h4>
<app-kanboard></app-kanboard>

<h2>Formbeispiel</h2>
<app-radios></app-radios>

<h2>Tabellenbeispiel</h2>
<h4>7 Einträge</h4>
<app-table></app-table>