:host {
    font-family: -apple-system, Roboto, Helvetica, sans-serif;
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .margin-left { 
    margin-left: 32px;
  }

  button, .button {
    width: 200px;
    height: 32px;;
    background-color: lightblue;
    text-decoration: underline;
    font-size: 1em;
    font-weight: bold;
  }